@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    color: #fff;
}

p::selection, h1::selection, h2::selection, h3::selection, a::selection, span::selection {
    color: #fff;
    background-color: rgb(14 165 233 );
}

.loading-animation::after{
    content: '';
    width: 50px;
    height: 100%;
    background-color: rgb(24, 22, 21);
    filter: blur(10px);
    position: absolute;
    top: 0;
    animation: move 1.4s infinite ;
}

@keyframes move {
    0%{
        left: -30%;
    }
    100%{
        left: 130%;
    }
}